
body.slika {
	background-image: url('ozadje_spomina.jpg');
}
body.bizanc{
	background-image: url('konstantinopl.jpg');
}

body.zvezde{
	background-image: url('zvezde.jpg');
}
body.r{
	background-color: red;
}
body.svetlomodro{
	background-color:#A9E2F3;
}

p.b{
	color: blue;
}
p.rd{
	color: red;
}
 font.v{
	 font-size:40pt;
 }